@import '../utils.module';

.sizeTile {
  align-items: center;
  background-color: #fff;
  border-color: #4a4a4a;
  border-radius: rem(4);
  border-style: solid;
  border-width: rem(1);
  color: #000;
  display: inline-flex;
  font-size: rem(19);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  height: rem(36);
  justify-content: center;
  line-height: 0;
  min-width: rem(36);
  padding: 0 rem(8.5);

  &:hover {
    [role='radio'] & {
      border-color: #000;
    }
  }

  &Active:not([class*='sizeTileDisabled']) {
    background-color: #000;
    border-color: #000;
    color: #fff;
  }

  &Disabled:not([class*='sizeTileActive']) {
    background: linear-gradient(
                    to top left,
                    #777777 calc(50% - #{rem(1)}),
                    #4a4a4a,
                    #777777 calc(50% + #{rem(1.5)})
    );
    color: #2c2c2c;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: linear-gradient(to top left, transparent 51%, #777777 52%),
      linear-gradient(to bottom right, transparent 51%, #777777 0), #4a4a4a;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }

  &Active[class*='sizeTileDisabled'] {
    background: linear-gradient(
      to top left,
      #4a4a4a calc(50% - #{rem(1)}),
      #000,
      #4a4a4a calc(50% + #{rem(1.5)})
    );
    border-color: #000;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background: linear-gradient(to top left, transparent 51%, #4a4a4a 52%),
      linear-gradient(to bottom right, transparent 51%, #4a4a4a 0), #000;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
}
