@import "../../../../stub-ui-library/utils.module";

.editProductImages {
  background: #fff;
  overflow: hidden;

  border-radius: 0;
  max-height: 100%;
  max-width: 100%;

  @media screen and (min-width: $small) {
    flex-shrink: 0;
    margin-bottom: 0;
    width: 50%;
  }

  .aspectRatioBoxParent {
    height: 100%;
    padding-top: 31.5rem;
    position: relative;

    @media screen and (min-width: $small) {
      padding-top: 27.2rem;
    }

    @media screen and (min-width: $med) {
      padding-top: 26.6rem;
    }

    @media screen and (min-width: $med-lg) {
      padding-top: 25rem;
    }

    @media screen and (min-width: $xlarge-max) {
      padding-top: 36rem;
    }
  }

  .aspectRatioBoxChild {
    inset: 0;
    position: absolute;
  }

  .fallbackImage {
    align-items: center;
    border-radius: rem(4) rem(4) 0 0;
    display: flex;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    width: 100%;

    @media screen and (max-width: $small) {
      border-radius: 0;
    }

    @include mq($desktop-and-above) {
      border-radius: rem(4) 0 0 rem(4);
    }
  }

  .fallbackImageIcon {
    height: rem(70);
    width: rem(70);
  }

  .fallbackBrand {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: rem(1);
    justify-content: center;
    opacity: 0.7;
  }

  .fallbackBrandText {
    color: #5b6479;
    font-size: rem(14);
    font-weight: 700;
    letter-spacing: rem(0.4);
    line-height: 1;
    text-transform: none;
  }

  .fallbackInitial {
    font-variant-caps: all-small-caps;
    text-transform: uppercase;
    font-size: 1.25em;
    letter-spacing: rem(0.2);
    font-weight: 800;
  }

  .fallbackImageError {
    display: grid;
    height: 100%;
    place-items: center;
    width: 100%;

    @include mq($desktop-and-above) {
      height: 100%;
    }
  }

  // Override docusaurus' MDX li styles
  li + li {
    margin: 0;
  }
}
