@import '../mqs.module';

.buttonTileGroup {
  &Wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 rem(-5) rem(-16) rem(-5);
    width: calc(100% + #{rem(10)});

    @include mq($desktop-and-above) {
      margin-left: rem(-8);
      margin-right: rem(-8);
      width: calc(100% + #{rem(16)});
    }
  }

  &Title {
    font-size: rem(19);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    line-height: rem(28);
    margin-bottom: rem(10);
  }

  &Fieldset {
    border: none;
    margin: 0;
    min-width: 0;
    padding: 0;
    width: 100%;
  }
}
