@import "../../../../stub-ui-library/utils.module";

.primaryButton {
  background: #3578e5;
  border: rem(1) solid #3578e5;
  border-radius: rem(8);
  color: #fff;
  cursor: pointer;
  font-size: rem(14);
  font-weight: 600;
  min-height: rem(44);
  transition: background 120ms ease, border-color 120ms ease, opacity 120ms ease;
  width: 100%;

  &:hover,
  &:focus-visible {
    background: #2f6fd6;
    border-color: #2f6fd6;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.55;
  }

  @include mq($desktop-and-above) {
    margin-bottom: 0;
  }
}

.secondaryCta {
  background: transparent;
  border: 0;
  color: #4e4e4e;
  cursor: pointer;
  display: inline;
  font-size: rem(15);
  margin-top: rem(22);
  padding: 0;
  text-decoration: underline;
  text-underline-offset: rem(2);
  text-decoration-thickness: rem(1);

  &:hover,
  &:focus-visible {
    color: #6b6b6b;
  }
}
