@import '../utils.module';

.buttonTile {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0;

  @include focusVisible {
    outline: rem(1) dotted #232323; // FF style
    outline: -webkit-focus-ring-color auto rem(5);
  }

  [class*='buttonTileGroupWrapper'] & {
    margin-bottom: rem(16);
    margin-left: rem(6);
    margin-right: rem(6);

    @include mq($desktop-and-above) {
      margin-left: rem(8);
      margin-right: rem(8);
    }
  }
}
