@import '../../../../node_modules/react-multi-carousel/lib/styles.css';
@import '../utils.module';

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  &Reverse {
    flex-direction: column-reverse;
  }
}

.dot {
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  padding: rem(4);

  &:hover,
  &:active,
  &:focus {
    opacity: 1;
  }

  &Inner {
    background-color: #4a4a4a;
    border-radius: 50%;
    display: inline-block;
    height: rem(8);
    padding: 0;
    width: rem(8);
  }

  &Active {
    opacity: 1;

    .dotInner {
      background-color: #2c2c2c;
    }
  }
}

.carouselItem {
  user-select: none;
}

:global(.react-multi-carousel-track) {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: max-content;
}

:global(.react-multi-carousel-list) {
  padding: 0;
  overflow: hidden;
}

:global(.react-multi-carousel-dot-list) {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: rem(8);
  display: flex;
  justify-content: center;
  z-index: 3;
  pointer-events: auto;
}


// Arrows

.carouselArrows {
  align-items: center;
  background: #fff;
  border: 0;
  border-radius: rem(4);
  cursor: pointer;
  display: flex;
  height: rem(48);
  justify-content: center;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: rem(48);
  z-index: 2;
  color: #000;

  &Right {
    right: rem(8);
  }

  &Left {
    left: rem(8);
  }
}

:disabled {
  cursor: not-allowed;
}
