@import "../../../../stub-ui-library/utils.module";

.editProductImages {
  background: #fff;
  overflow: hidden;

  border-radius: 0;
  max-height: 100%;
  max-width: 100%;

  @media screen and (min-width: $small) {
    flex-shrink: 0;
    margin-bottom: 0;
    width: 50%;
  }

  .aspectRatioBoxParent {
    height: 0;
    padding-top: 31.5rem;
    position: relative;

    @media screen and (min-width: $small) {
      padding-top: 27.2rem;
    }

    @media screen and (min-width: $med) {
      padding-top: 26.6rem;
    }

    @media screen and (min-width: $med-lg) {
      padding-top: 25rem;
    }

    @media screen and (min-width: $xlarge-max) {
      padding-top: 36rem;
    }
  }

  .aspectRatioBoxChild {
    inset: 0;
    position: absolute;
  }

  .fallbackImage {
    align-items: center;
    border-radius: rem(4) rem(4) 0 0;
    display: flex;
    justify-content: center;
    overflow: hidden;

    @media screen and (max-width: $small) {
      border-radius: 0;
    }

    @include mq($desktop-and-above) {
      border-radius: rem(4) 0 0 rem(4);
    }
  }

  .fallbackImageIcon {
    color: #4a4a4a;
    height: rem(66);
    width: rem(66);
  }

  .fallbackImageError {
    height: rem(450);
    width: 100%;

    @include mq($desktop-and-above) {
      height: rem(657);
    }
  }

  // Override docusaurus' MDX li styles
  li + li {
    margin: 0;
  }
}
