@import "../utils.module";

.pill {
  background-color: #000;
  border-radius: rem(6);
  color: #fff;
  font-size: rem(11);
  font-weight: 700;
  letter-spacing: rem(0.2);
  padding: rem(3) rem(8);
}
