@function rem($pixel-value, $rem-base: 16) {
  @return $pixel-value / $rem-base * 1rem;
}

// Media query variables
$xxsmall: rem(360);
$xsmall: rem(480);
$small-max: rem(767);
$small: rem(768);
$small-min: rem(769);
$med-max: rem(991);
$med: rem(992);
$med-min: rem(993);
$med-lg: rem(1000);
$med-lg-min: rem(1001);
$large-max: rem(1199);
$large: rem(1200);
$large-min: rem(1201);
$xlarge-max: rem(1599);
$xlarge: rem(1600);
$grid-max: rem(1322);

@mixin mq($breakpointwidth) {
  @media only screen and ($breakpointwidth) {
    @content;
  }
}

$med: rem(992);

$desktop-and-above: "min-width:" + $med;

// Focus-visible helper
@mixin focusVisible {
  &:focus-visible {
    @content;
  }
}

// Typography helpers (minimal stubs for demo)
@mixin textBody1() {
  font-size: rem(14);
  line-height: 1.4;
}
