@import "../../stub-ui-library/utils.module";

.container {
  background-color: #f0f0f0;
}

.editProductModalInfo {
  position: relative;
  overflow: auto;
  padding-top: rem(8);
  padding-right: rem(8);
  scrollbar-width: thin;
  scrollbar-color: #9a9a9a #ececec;

  &::-webkit-scrollbar {
    width: rem(8);
  }

  &::-webkit-scrollbar-track {
    background: #ececec;
    border-radius: rem(10);
  }

  &::-webkit-scrollbar-thumb {
    background: #b1b1b1;
    border-radius: rem(10);
    border: rem(2) solid #ececec;
    transition: background-color 140ms ease;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #707070;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: #7a7a7a;
  }

  @media screen and (min-width: $small) {
    flex: 0 1 auto;
    margin: rem(32) rem(40) rem(8);
    padding-top: 0;
    max-height: 300px;
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    flex-basis: rem(490);
  }
}

.hasScrollHint::after {
  content: none;
}

.hasScrollHint {
  box-shadow: inset 0 rem(-10) rem(8) rem(-10) rgba(0, 0, 0, 0.24);
}

// Double class to avoid specificity issue on build time.
.editProductModalContainer.editProductModalContainer {
  @media screen and (max-width: $small) {
    display: block;
    padding: 0;
  }
}

.bottomStickyEditingPanelContainer {
  padding: rem(8) 0 rem(40);
  text-align: center;

  @media screen and (min-width: $small) {
    flex: 1 0 auto;
    padding: 0 rem(40) rem(32);
  }
}

.loadingIndicator {
  margin: rem(40) 0;
  text-align: center;
}
