@import '../../edit-product-modal/components/mqs.module';

.progress {
  animation: spin 2s linear infinite both;
}

.progressCircle {
  animation: strokeSpin 1.4s ease-in-out infinite both;
  fill: transparent;
  stroke-dasharray: 150;
  stroke-linecap: round;
  stroke-width: rem(4);
  transform-origin: 50% 50%;

  &.gray {
    stroke: $grey85;
  }

  &.red {
    stroke: $red100;
  }

  &.white {
    stroke: $white;
  }
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes strokeSpin {
  0%,
  25% {
    stroke-dashoffset: 140;
    transform: rotate(0);
  }

  50%,
  75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }

  100% {
    stroke-dashoffset: 140;
    transform: rotate(360deg);
  }
}
