@import "./demo-overrides.css";

html[data-theme='dark'] {
  --ifm-background-color: #0b1220;
  --ifm-background-surface-color: #111827;
  --ifm-navbar-background-color: #172950;
  --ifm-font-color-base: #e6edf7;
  --ifm-heading-color: #ffffff;
  --ifm-link-color: #60a5fa;
}

html[data-theme='dark'] .navbar {
  background: #172950;
  border-bottom: 1px solid rgba(255,255,255,0.08);
}

.menu {
  background: #0f172a;
  border-right: 1px solid #1f2937;
}

h1, h2, h3, h4 {
  color: var(--ifm-heading-color);
}
