@import "../../mqs.module";

.buttonTile:last-child {
  padding-right: rem(1);
  @include mq($desktop-and-above) {
    padding-right: 0;
  }
}

.buttonTileGroupTitle {
  font-size: rem(17);
  line-height: rem(23);
  margin-bottom: rem(4);
  text-transform: capitalize;
}

.buttonTileGroup {
  @include mq($desktop-and-above) {
    padding-left: rem(1);
  }
}

.container {
  margin-bottom: rem(8);

  &:last-child {
    margin: rem(12) 0 0;
    padding-bottom: rem(16);
  }
}
