@import '../utils.module';

.colorSwatch {
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 0 rem(1.5) #4a4a4a;
  display: flex;
  height: rem(27);
  justify-content: center;
  line-height: 0;
  margin: rem(4) 0;
  position: relative;
  width: rem(27);
  opacity: 0.8;
  transition: opacity 120ms ease;

  &::after,
  &::before {
    pointer-events: none;
  }

  &Img,
  &Picture {
    height: 100%;
    width: 100%;
    display: block;
  }

  &ImgWrapper {
    border-radius: 50%;
    height: 100%;
    overflow: hidden;
    width: 100%;
  }

  &Active {
    box-shadow: 0 0 0 rem(1.5) #4a4a4a, 0 0 0 rem(4) #fff,
    0 0 0 rem(6) #3558a5;
    opacity: 1;
  }

  &Disabled {
    position: relative;
    opacity: 0.7;

    &::after {
      border: rem(1) solid #4e4e4e;
      bottom: 0;
      content: '';
      // stylelint-disable-next-line unit-disallowed-list
      height: calc(100% + 10px);
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      transform: rotate(45deg);
      transform-origin: center;
      width: 0;
    }

    .colorSwatchImg {
      opacity: 0.5;
    }
  }

  &:hover:not([class*='colorSwatchActive']) {
    [role='radio'] & {
      box-shadow: 0 0 0 rem(1.5) #4a4a4a, 0 0 0 rem(4) #fff,
      0 0 0 rem(6) #4a4a4a;
    }
  }
}
