@import '../../edit-product-modal/components/mqs.module';

.colorSwatch {
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 0 rem(1.5) $grey25;
  display: flex;
  height: rem(34);
  justify-content: center;
  line-height: 0;
  margin: rem(5) 0;
  position: relative;
  width: rem(34);

  &::after,
  &::before {
    pointer-events: none;
  }

  &Img,
  &Picture {
    height: 100%;
    width: 100%;
  }

  &ImgWrapper {
    border-radius: 50%;
    height: 100%;
    overflow: hidden;
    width: 100%;
  }

  &Active {
    box-shadow: 0 0 0 rem(1.5) $grey25, 0 0 0 rem(4) $white,
    0 0 0 rem(5.5) $black;
  }

  &Disabled {
    position: relative;

    &::after {
      border: rem(1) solid $black;
      bottom: 0;
      content: '';
      // stylelint-disable-next-line unit-disallowed-list
      height: calc(100% + 10px);
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      transform: rotate(45deg);
      transform-origin: center;
      width: 0;

      @media (min-resolution: 192dpi) {
        border: rem(0.75) solid $black;
      }
    }

    .colorSwatchImg {
      opacity: 0.5;
    }
  }

  &:hover:not([class*='colorSwatchActive']) {
    [role='radio'] & {
      box-shadow: 0 0 0 rem(1.5) $grey25, 0 0 0 rem(4) $white,
      0 0 0 rem(6) $grey25;

      @media (min-resolution: 192dpi) {
        box-shadow: 0 0 0 rem(1.5) $grey25, 0 0 0 rem(4) $white,
        0 0 0 rem(5.5) $grey25;
      }
    }
  }
}
