@import 'react-multi-carousel/lib/styles.css';

.wrapper {
  display: flex;
  flex-direction: column;

  &Reverse {
    flex-direction: column-reverse;
  }
}

/* stylelint-disable-next-line selector-max-type, selector-no-qualifying-type */
ul.dots {
  position: relative;
}

.dot {
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  padding: rem(4);

  &:hover,
  &:active,
  &:focus {
    opacity: 1;
  }

  &Inner {
    background-color: $grey25;
    border-radius: 50%;
    display: inline-block;
    height: rem(8);
    padding: 0;
    width: rem(8);
  }

  &Active {
    opacity: 1;

    .dotInner {
      background-color: $grey100;
    }
  }
}

.carouselItem {
  user-select: none;
}


// Arrows

.carouselArrows {
  align-items: center;
  background: $white;
  border: 0;
  border-radius: rem(4);
  cursor: pointer;
  display: flex;
  height: rem(48);
  justify-content: center;
  padding: 0;
  position: absolute;
  width: rem(48);
  z-index: 2;

  &Right {
    right: rem(8);
  }

  &Left {
    left: rem(8);
  }
}

:disabled {
  cursor: not-allowed;
}