@import "../../stub-ui-library/mqs.module";

.editProductModalInfo {
  overflow: auto;
  padding-right: rem(8);

  @include mq($desktop-and-above) {
    flex: 0 1 auto;
    margin: rem(32) rem(40) rem(8);
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    flex-basis: rem(490);
  }
}

// Double class to avoid specificity issue on build time.
.editProductModalContainer.editProductModalContainer {
  @media screen and (max-width: $small) {
    display: block;
    padding: 0;
  }
}

.bottomStickyEditingPanelContainer {
  padding: rem(8) 0 rem(40);
  text-align: center;

  @include mq($desktop-and-above) {
    flex: 1 0 auto;
    padding: 0 rem(40) rem(32);
  }
}

.loadingIndicator {
  margin: rem(40) 0;
  text-align: center;
}
