@import '../mqs.module';

/* stylelint-disable selector-max-type */
.notificationBlock {
  @include textBody1();

  background-color: #fff;
  border: rem(1) solid #000;
  display: flex;
  padding: rem(12);

  .iconBlock {
    flex-shrink: 0;
    height: rem(24);
    margin-right: rem(8);
    width: rem(24);
  }

  a {
    color: #000;
  }

  p {
    &:first-of-type {
      margin-block-start: 0;
    }

    &:last-of-type {
      margin-block-end: 0;
    }
  }
}

.successNotification {
  background-color: #73c855;
  border: solid rem(1) #41ac00;

  .iconBlock {
    color: #41ac00;
  }
}

.errorNotification {
  background-color: #a54444;
  border: solid rem(1) #b80000;

  .iconBlock {
    color: #b80000;
  }
}

.warningNotification {
  background-color: #e8e863;
  border: solid rem(1) #f6e015;

  .iconBlock {
    color: #f6e015;
  }
}

.infoNotification {
  background-color: #6fa1dc;
  border: solid rem(1) #155097;

  .iconBlock {
    color: #155097;
  }
}

.messageNotification {
  background-color: #a8a8a8;
  border: solid rem(1) #4a4a4a;

  .iconBlock {
    color: #4a4a4a;
  }
}
